@import "tailwindcss";

/* custom font */

/* global.css */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "satisfy";
  src: url("/fonts/satisfy.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "playfair";
  src: url("/fonts/playfair.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.satisfy {
  font-family: satisfy, cursive;
}

.playfair {
  font-family: playfair, serif;
}
@layer utilities {
  @keyframes waterShift {
    0% {
      background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 50%, 35% 65%,
        65% 35%, 0% 0%;
    }
    50% {
      background-position: 5% 2%, 95% 4%, 96% 96%, 4% 94%, 50% 50%, 37% 63%,
        63% 37%, 20% 0%;
    }
    100% {
      background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 50%, 35% 65%,
        65% 35%, 0% 0%;
    }
  }
  .animate-waterShift {
    animation: waterShift 18s ease-in-out infinite;
    background-size: 140% 140%, 150% 150%, 150% 150%, 140% 140%, 120% 120%,
      140% 140%, 140% 140%, 100% 100%;
  }
}
.bgBan {
  background-image: linear-gradient(135deg, #00000047, #00000044),
    url("/images/ban.avif");

  background-position: top left;
}

@media screen and (max-width: 640px) {
  .bgBan {
    background-position: top center;
  }
}
